/*imagens da caixa dragão*/
.dragon_logo {
    width: 250px;
}

.drake {
    width: 270px;
}

.fae {
    width: 170px;
}

.hidra {
    width: 270px;
}

.lung {
    width: 220px;
}

.knucker {
    width: 190px;
}