/*imagens da caixa dragão*/
.dragon_logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 250px;
}

.drake {
    width: 270px;
}

.fae {
    width: 170px;
}

.hidra {
    width: 270px;
}

.lung {
    width: 220px;
}

.knucker {
    width: 190px;
}

.ying-long {
    width: 250px;
}

.pyrausta {
    width: 170px;
}

.amphythere {
    width: 210px;
}