body {
  background-image: url(assets/imagens/pergaminho.jpg);
}

header {
  background-image: url(assets/imagens/ESCAMA.jpg);
}

.brasao_lm {
  width: 420px;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-bottom: 46px;
}

.caixa_drago {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}

h1 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: gold;
  padding: 15px;
  margin: 30px;
  
}

.species_de_dragoes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 600px ;
  margin: auto;
}

nav ul .botão {
  display: inline-block;
  margin: 0 0 0 15px;
  font-size: 30px;
  color: gold;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  background: none;
  border: none;
  width: 250px;
  padding: none;
}

button img {
  max-width: 100%;
  height: auto;
}

/*.wrapper,*/ .dragon_t {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  
}



footer {
    background-image: url(assets/imagens/ESCAMA.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_branco {
  width: 210px;
  
}

.Copyright {
  margin: 25px;
  color: aliceblue;
}
