body {
  background-image: url(stone_inicial.jpg);
}

header {
  background-image: url(ESCAMA.jpg);
}

.caixa {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 40px;
  
}

.intro {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  flex-direction: column;
  background-image: url(scale_saphira.jpg);
  width: 270px;
  margin: 30px;
  padding: 10px;
  color: goldenrod;
  border-radius: 18px;
  
}

h2 {
  font-size: 42px;
  font: bolder;
  margin: 10px;
}

p {
  font-size: 20px;
}

.sky_dragon {
  width: 800px;
  height: 470px;
  border-radius: 20px;
}

.atributos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  
}

