body {
  background-image: url(stone_inicial.jpg);
}

header {
  background-image: url(ESCAMA.jpg);
}

.caixa {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 25px;
  width: 420px;
  background-image: url(scale_saphira.jpg);
  border-radius: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: goldenrod;
}

h2 {
  font-size: 42px;
  margin-bottom: 17px;
}

.sky_dragon {
  width: 900px;
  border-radius: 30px;
}

.ATRIBUTOS {
  background-color: black;
  width: 700px;
  margin-top: 20px;
  margin-left: 305px;
}

/*PC*/
@media (max-width: 2560px) and (min-width: 768px) {
  .caixa {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
  }
}

@media (max-width: 1024px) {
  .sky_dragon {
    width: 600px;
    border-radius: 30px;
  }
  .caixa {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
}
