/* import da letra medieval*/
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


body {
  background-image: url(../assets/imagens/pergaminho.jpg);
}

header {
  background-image: url(../assets/imagens/ESCAMA.jpg);
}

.insignia {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.selo-scription {
  font-family: 'MedievalSharp', sans-serif;
  margin: 10px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 420px;
}

.brasao_lm {
  width: 380px;
}

nav {
  display: flex;
  justify-content: flex-end;
  /*padding: 10px;
  margin: 10px;*/
}



.menu {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  margin-bottom: 46px;
}

/* botoes do menu */
.botão {
  display: inline-block;
  margin: 0 0 0 15px;
  font-size: 30px;
  color: gold;
  text-transform: uppercase;
}

.caixa_wyvern {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

h1 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: gold;
  padding: 15px;
  margin: 30px;
  
}

.two_wyvens {
    height: 500px;
    width: 1900px;
    border-radius: 800px;
}

.box_atributes {
  background-image: url(/assets/imagens/scale_red_metalic.png);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 600px ;
  margin: auto;
  border-radius: 20px;
  
}

footer {
    background-image: url(../assets/imagens/ESCAMA.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_branco {
  width: 210px;
  
}

.Copyright {
  margin: 25px;
  color: aliceblue;
}
